<section class="about container">
    <h1 class="text-center mb-5"> About US</h1>
    <p>We believe : Learning is the source of human progress. It has the power to transform our world
        from illness to health,from poverty to prosperity, from conflict to peace.
        It has the power to transform our lives for ourselves, for our families, for our communities.
    </p>
    <p>
        No matter who we are or where we are, learning empowers us to change and grow and redefine what’s possible. 
        That is why access to the best learning is a right, not a privilege.
    </p>
    <div class="follow text-center">
        <h4>Follow US</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div>
</section>