.courses{
    background-color: #fff6ff;
    padding: 50px 100px;
}
.box{
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 10px;
}
@media screen and (max-width:600px) {
    .courses{
        background-color: #fff6ff;
        padding: 50px 10px;
    }
    .box{
        background-color: #ffffff;
        padding: 20px 10px;
        border-radius: 10px;
    }
}